body{
  font-family: 'Courier New', monospace;
  font-size: 14px;
  background: #eeeeee;
}

.container{
  margin: 20px auto;
  width: 365px;
  background: #ffffff;
  padding: 15px;
  text-align: center;  
}

#timer{
  background: #dddddd;
  height: 120px;
  line-height: 120px;
  font-size: 40px;
  margin-bottom: 15px;
}

.btn{
  width: 80px;
  height: 45px;
  line-height: 45px;
  background: #dddddd;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

.btn:active{
    height: 40px;
    margin-top: 5px;
}

.controls{
  display: flex;
  justify-content: space-between;
}

.btn1{
  width: 120px;
  height: 25px;
  line-height: 20px;
  background: #dddddd;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  margin: auto;
  border-radius: 5px;
  text-align: center;
}

.btn1:active{
  height: 20px;
  margin-top: 5px;
}

.inactive{
  opacity: 0.6;
  cursor: auto;
  height: 45px !important;
  margin-top: 0px !important;
}

.inactive1{
  opacity: 0.6;
  cursor: auto;
  height: 25px !important;
  margin-top: 0px !important;
}

.laptime{
  margin-top: 10px;
}